<!-- FOOTER -->
<footer class="footer fixed-bottoixed">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">


                    <p class="text-muted  copyright-txt">
                        {% set startYear = 2010 %}
                        {% set currentYear = 'now' | date('Y') %}

                            {% set copyrightYears = startYear ~ ' - ' ~ currentYear %}


                    &copy; {{ copyrightYears }} Ashley Luff. All Rights Reserved
                    </p>

                </div>
            </div>
        </div>
        <!-- end row -->

    </div>
</footer>

<!-- END FOOTER -->

<!-- JAVASCRIPTS -->
<script src="{{ baseUrl }}/js/jquery.min.js"></script>
<script src="{{ baseUrl }}/js/bootstrap.bundle.min.js"></script>
<!-- isotope filter plugin -->
<script src="{{ baseUrl }}/js/isotope.pkgd.min.js"></script>


<script src="{{ baseUrl }}/js/simple-lightbox.jquery.min.js"></script>
<script src="{{ baseUrl }}/js/lazyload.min.js"></script>

<script src="{{ baseUrl }}/js/app.js"></script>
</body>
</html>