{% extends "_layouts/site.twig" %}
{% import '_macros' as macros %}
{% block content %}

    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-lg-12 text-center mb-5">
                                <h1>Gallery</h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% cache %}
    <section class="section">
        <div class="container">

            <!-- SECTION FILTER
            ================================================== -->
            {#{% set entries = craft.entries({#}
            {#section:'gallery',#}
            {#with:['image']#}
            {#}).limit(null).all()#}
            {#%}#}

            {% set galleryItems = craft.entries({
                section:'gallery',
                with:['image']
            }).ids() %}

            {% set categories = craft.categories.group('gallery').relatedTo(galleryItems) %}
            <div class="row">
                <div class="col-lg-12">

                </div>
                <div class="col-lg-12 category-description">
                    <h4 class="catDesc"></h4>
                </div>
            </div>
            <!-- galcont -->
            <div class="row">
                <div class="col-sm-12 ">
                    {% for category in categories.all() %}
                    {% set gallery = craft.entries.relatedTo(category) %}
                    {% set detailPic = craft.entries.relatedTo(category).featureContent(true).limit(1) %}


                    <div class="row">
                        <div class="col-lg-7 text-center">
                            <h3 class="mb-1">{{ category.title }}</h3>
                            <p>{{ category.categoryDescription }}</p>
                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-7">
                            <div class="row">

                            </div>

                            {% for entry in detailPic.all() %}

                                {% if entry.sepiaFilter == '1' %}

                                    {% set sepiaEffect = {modulate: [100, 20, 100]}  %}
                                {% else %}
{#                                    {%  set entry.sepiaFilter = "modulate: [100, 100, 100]"  %}#}
                                    {% set sepiaEffect = {modulate: [100, 100, 100]} %}
                                {% endif %}

                                {% set maxWidth = entry.maxWidth ?? "350" %}

                                {% set tags = entry.MediumUsed %}

                                {% if  entry.featureContent == 1 %}
{#                                    {% set seffect = {modulate: [100, 20, 100]}  %}#}
                                    {% set image = entry.detailedCrop[0] ?? null %}
                                    {% if image  %}
                                        {% set transformedImage = craft.imager.transformImage(image,
                                            {
                                                mode:'crop',
                                                width: maxWidth,
                                                position: image.getFocalPoint(),
                                                effects: sepiaEffect
                                            }
                                         )%}
                                        {% set newImage = transformedImage.url %}
{#                                        {% set imageTitle = image.title %}#}
                                    {% else %}
                                        {% set newImage = baseUrl ~ '/images/placeholder300x200.jpg' %}
{#                                        {% set imageTitle = %}#}
                                        {% endif %}
                                    <div class="d-flex justify-content-center">

                                        <!-- An image that eventually gets lazy loaded by JavaScript -->
                                        <img class="lazy img-fluid mb-3"
                                             src="{{ baseUrl }}/images/placeholder300x200.jpg"
                                             data-src="{{ newImage }}" alt="{{ image.title |default(entry.title) }}">
                                        <!-- An image that is shown if JavaScript is turned off -->
                                        <noscript>
                                            <img class="img-fluid mb-3 lazy" src="{{ newImage }}">
                                        </noscript>
                                    </div>
                                {% endif %}

                            {% endfor %}

                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-5">
                            <div class="row portfolioContainer  m-b-30 ">

                                {% for entry in gallery.all() %}


                                    {% set image = entry.image[0] ?? null %}
                                    {% if image %}


                                        {% set tags = entry.MediumUsed %}
                                        {#                        {% set cat = entry.category.one().slug ? entry.category.one().slug : '' %}#}
                                        {% set imgWidth = image.getWidth() %}
                                        {% set imgHeight = image.getHeight() %}
                                        <div class="col-md-6 natural ">
                                            {#<a href="work-detail.html">#}
                                            <div class="gallery {{ category.id }} mt-0 mb-4">
                                                {%  set galthumb = image.getUrl('galleryThumb') %}
                                                {% set medium = '' %}
                                                {% set size = '' %}
                                                {% set medium = '' %}

                                                {# if size info then we show size and medium otherwise no medium ???? #}
                                                {%  if entry.width > '0' %}
                                                    {% set size = entry.height ~'.'~entry.width~'cm' %}
                                                    {%  if tags | length %}
                                                        {% for tag in tags.all() %}
                                                            {% set medium =  tag ~ ','  %}
                                                            {%  if loop.last %}
                                                                {% set medium = '.'~tag ~ '.' %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endif %}






                                                 <a rel={{ category.id }} href="{{ image.getUrl() }}"
                                                    title="{{ entry.title }}{{medium}}{{size}}">
                                                     <img class="lazy img-fluid "
                                                         src="{{ galthumb }}"
                                                         data-original="{{ galthumb }}" alt="{{ image.title }} title="{{ image.title }}"
                                                         width="{{ imgWidth }}"
                                                         height="{{ imgHeight }}">
                                                 </a>

                                            </div>
                                            {#</a>#}
                                        </div>
                                    {% endif %}

                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <hr>

                    {% endfor %}<!-- end cat loop -->
                </div>

            </div>

        </div> <!-- end container -->
    </section>
    {% endcache %}

{% endblock %}

      {% js %}
{#          var catid = {{ category.id }}#}
          $('.gallery a').simpleLightbox({
{#          captions: true,#}
{#          captionType:'attr',#}
          captionSelector: 'self',
          captionPosition: 'bottom',
          animationSlide: 'true'

          });
      {% endjs %}
