{% extends "_layouts/site.twig" %}
{% import '_macros' as macros %}
{% block content %}
    {% set galleryItems = craft.entries({
        section:'gallery',
        with:['image']
    }).ids()
    %}

    {% set categories = craft.categories.group('gallery').relatedTo(galleryItems) %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <div class="row">
                        <div class="col-lg-12 text-center mb-5">
                            <h1>Gallery</h1>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

    <section class="section">
        <div class="container">

            <!-- SECTION FILTER
            ================================================== -->
            {#{% set entries = craft.entries({#}
            {#section:'gallery',#}
            {#with:['image']#}
            {#}).limit(null).all()#}
            {#%}#}

            {% set galleryItems = craft.entries({
                section:'gallery',
                with:['image']
            }).ids()
            %}

            {% set categories = craft.categories.group('gallery').relatedTo(galleryItems) %}
            <div class="row">
                <div class="col-lg-12">

                </div>
                <div class="col-lg-12 category-description">
                    <h4 class="catDesc"></h4>
                </div>
            </div>
            <!-- galcont -->
            <div class="row">
                <div class="col-sm-12 ">
                    {% for category in categories.all() %}
                    {% set gallery = craft.entries.relatedTo(category) %}
                    {% set detailPic = craft.entries.relatedTo(category).featureContent(true).limit(1) %}


                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-7">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h3 class="mb-1">{{ category.title }}</h3>
                                    <p>{{ category.categoryDescription }}</p>
                                </div>
                            </div>

                            {% for entry in detailPic.all() %}

                            {% if entry.sepiaFilter == '1' %}

                            {% set sepiaEffect = "modulate: [100, 20, 100]" |raw %}
                                {% else %}
                            {% set sepiaEffect = "" %}
                            {% endif %}

                                {% set maxWidth = entry.maxWidth ?? "350" %}

                                    {% set tags = entry.MediumUsed %}

                                    {% if  entry.featureContent == 1 %}

                                        {% set image = entry.detailedCrop[0] ?? null %}
                                        {% set transformedImage = craft.imager.transformImage(image,
                                            {
                                                mode:'crop',
                                                width:maxWidth,
                                              position: image.getFocalPoint(),

                                            }
                                            ) %}



{#                                            {% set thumb = {#}
{#                                                mode: 'crop',#}
{#                                                width: 450,#}
{#                                               height: 0,#}
{#                                                quality: 85#}
{#                                            } %}#}
{#                                        { width: 600, height: 600, position: asset.getFocalPoint() }#}
                                        <div class="d-flex justify-content-center">
                                        <img class="img-fluid mb-3"  src="{{ transformedImage.url }}">
                                        </div>
{#                                            <img class="img-fluid"  src="{{ image.getUrl('detailLarge') }}" >#}
                                    {% endif %}

                            {% endfor %}

                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-5">
                            <div class="row portfolioContainer  m-b-30 ">

                            {% for entry in gallery.all() %}

                                {% set tags = entry.MediumUsed %}
                                {% set image = entry.image[0] ?? null %}
                                {% if image %}
                                    {% set thumb = {
                                        mode: 'crop',
                                        width: 350,
                                        height:350,
                                        quality: 85
                                    } %}

                                    {% set tags = entry.MediumUsed %}
                                    {#                        {% set cat = entry.category.one().slug ? entry.category.one().slug : '' %}#}
                                    <div class="col-md-6 natural ">
                                    {#<a href="work-detail.html">#}
                                    <div class="portfolio-box mt-0 mb-4">
                                    <div class="portfolio-box-img" data-src="{{ image.getUrl() }}">
                                    {# Get the eager-loaded asset, if there is one #}

                                    {#<img src="{{ image.url }}" class="img-fluid" alt="member-image">#}
{#                                    <img class="img-fluid" alt="{{ entry.title }} - {% for tag in tags.all() %}{{ tag }}{% endfor %} - width: {{ entry.width }}cm, height: {{ entry.height }}cm" title="{{ entry.title }}"#}
{#                                         src="{{ image.getUrl(thumb) }}">#}
                                        <img class="img-fluid " src="{{ image.getUrl() }}" width="{{ image.getWidth() }}" height="{{ image.getHeight() }}">

                                    </div>
                                        <div class="portfolio-box-detail">
                                            <h4>{{ entry.title }}</h4>
                                            <div class="d-flex align-items-center">

                                                <p class="align-self-center mdi mdi-24px mdi-palette"></p>
                                                {% for tag in tags.all() %}
                                                    <p class="px-1">{{ tag }}</p>
                                                {% endfor %}
                                                <p class="hide ml-3 justify-content-end mdi mdi-24px mdi-image-multiple mr-1"></p>
                                                <p class="hide justify-content-end"> w: {{ entry.width }}cm  h: {{ entry.height }}cm</p>
                                            </div>


                                        </div>
                                    </div>
                                        {#</a>#}
                                    </div>
                                {% endif %}

                            {% endfor %}

                        </div>
                        </div>
                    </div>
                    <hr>

                    {% endfor %}<!-- end cat loop -->
                </div>
                <div class="hide col-lg-4 pl-sm-0 pl-md-5 px-0 offset-1">
                    <div class="galleryNav mt-3 sticky-top">
                        <h3>Galleries</h3>
                        <ul class="list-unstyled">

                            {% for category in categories.all() %}
                                <li>
                                    <a {{ macros.isActive(category.slug) }} href="{{ baseUrl }}/{{ category.uri }}" >{{ category.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>

        </div> <!-- end container -->
    </section>


{% endblock %}
