{% set baseUrl = craft.app.config.general.baseUrl %}
<!DOCTYPE html>
<html lang="en" class="no-js">
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% hook "seo" %}

        <link rel="shortcut icon" href="{{ baseUrl }}/images/favicon.ico">

        <!-- Google Font -->
        <style>
            @import url('https://fonts.googleapis.com/css?family=Raleway|Open+Sans&display=swap');
        </style>
        <!-- Bootstrap Css-->
        <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/bootstrap.min.css" />

        <!-- Materialdesign icon Css-->
        <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/materialdesignicons.min.css" />
        <!-- Pe 7 icon Css-->
        <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/pe-icon-7-stroke.css" />

        <!-- Custom Css -->
        <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/style-min.css" />





        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
{% endblock %}

{% if bodyClass is not defined %}
    {% set bodyClass = entry is defined ? entry.type : craft.app.request.segments|first %}
{% endif %}
<body class="{{ bodyClass }}">
{% include '_includes/nav.twig' %}
{% block body %}


{% endblock %}

{% block foot %}
    {% include '_includes/footer.twig' %}

{% endblock %}

</body>
</html>