{% extends "_layouts/site.twig" %}

{% block content %}
    <style>
        /* Set a background image by replacing the URL below */
        @media (min-width: 0px){
            .homebg {
                background: url('{{ siteSettings.siteBackgroundImage[0].url }}') no-repeat center center ;
                background-size: 1184px 998px;
                background-color: #999999;
                height:100%;
                background-position-x:-586px;
            }
        }
        @media (min-width: 450px){
            .homebg {
                background: url('{{ siteSettings.siteBackgroundImage[0].url }}') no-repeat center center ;
                background-size: cover;
                background-color: #999999;
                height:100%;
                background-position-x:-526px;
            }
        }
        @media (min-width: 600px){
            .homebg {
                background: url('{{ siteSettings.siteBackgroundImage[0].url }}') no-repeat center center ;
                background-size: cover;
                background-color: #999999;
                height:100%;
                background-position: center;
            }
        }

    </style>
<section class="homebg position-relative">
    <div class="home-overlay">
        <h1 class="center-me text-center">Ashley Luff</h1>
    </div>
    <div class="center-container text-center">
        <a href="#content"  class="btn scroll-down py-0">
            <i class="mdi mdi-48px mdi-chevron-double-down"></i>
        </a>
    </div>
</section>



<section class=" section" id="content"><a name="content"></a>
    <div class=" container">
        <div class="row">
                <div class="col-12 page-title">
                    <h1 class="">{{ entry.altTitle }}</h1>
            </div>
        </div>
            <div class="row">
                <div class="col-xs-12 col-lg-6 mb-4">
                    {{ entry.body }}
                </div>
                <div class="col-sm-12 offset-sm-0 col-lg-5 offset-1">
                    {% set imagesRight = entry.imagesRight %}
                    {% for image in imagesRight %}
{#                        {% set image = image[0] ?? null %}#}
{#                        {% set thumb = {#}
{#                            mode: 'crop',#}
{#                            width: auto,#}
{#                            height:auto,#}
{#                            quality: 85#}
{#                        } %}#}
                    <figure class="figure mb-5" >
                        <img class="img-fluid " alt="{{ image.title }}" src="{{ image.getUrl() }}">
                        <figcaption class="figure-caption" style="max-width: {{ image.getWidth() }}px">{{image.title}}</figcaption>
                    </figure>

                        {% endfor %}
                </div>

            </div>
        </div>

    </div>
    <div class="container border-top-orange my-3 p-0 ">
        <div class="d-flex justify-content-between align-items-center mt-4 flex-column flex-md-row">
            {% set imagesRight = entry.imagesBottom %}
            {% for image in imagesRight %}

{#                                        {% set image = image[0] ?? null %}#}

                {% if loop.index == 2 %}
                    {% set thumb = {
                        mode: 'fit',
                        width: 250 ,
                        height:690,
                        quality: 85
                    } %}
                <figure class="figure" >
                    <img src="{{ image.getUrl(thumb) }}" >
                    <figcaption class="figure-caption" style="max-width: {{ image.getWidth(thumb) }}px">{{image.title}}</figcaption>

                </figure>

                {% else %}
                        {% set thumb = {
                            mode: 'fit',
                            width: 200 ,
                            height:300,
                            quality: 85
                        } %}
                    <figure class="figure">
                        <img src="{{ image.getUrl(thumb) }}" >
                        <figcaption class="figure-caption" style="max-width: {{ image.getWidth(thumb) }}px">{{image.title}}</figcaption>
                    </figure>
                {% endif %}

            {% endfor %}
        </div>
    </div>

</section>

{% endblock %}
